/* on sale */
.one-sale {
    cursor: pointer;
    transition: all 0.7s ease;

}

.one-sale:hover {
    transform: scale(1.1);
}

.card-img-overlay {
    margin: auto;
    margin-top: 50%;
    margin-bottom: 50%;
}

/* on sale */